.tabs {
  display: grid;
  gap: 12px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;

  @media (max-width: 610px) {
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  padding: 8px 12px;
  border-radius: 10px;
  background: #ffffff0f;
  border: 1px solid #ffffff1a;
}

.btn[aria-selected='true'] {
  background: #5aa9ff33;
  border-color: #5aa9ff59;
}
